<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>570091056367-2losuuv3v9uu6j2l31p4b2ir0qccuh8i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.570091056367-2losuuv3v9uu6j2l31p4b2ir0qccuh8i</string>
	<key>API_KEY</key>
	<string>AIzaSyBXyqKLu0uAkfask3C790n5jIr9Pog5OqI</string>
	<key>GCM_SENDER_ID</key>
	<string>570091056367</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication2</string>
	<key>PROJECT_ID</key>
	<string>replanit-791c4</string>
	<key>STORAGE_BUCKET</key>
	<string>replanit-791c4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:570091056367:ios:55c4917e0c0f1d5bdcff1a</string>
</dict>
</plist>